@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This SCOTUS Database is currently still a work in progress.  The idea behind this website
    is to provide users with an overview of the Supreme Court cases, the votes, and its members.
    As this website progresses more data about the world at the time of the decisions will be added, in an effort
    to provide context for each decision and to lend insight into future decisions.</p>
