@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Indianapolis, IN<br />
    <br />
    <abbr title="Phone">P:</abbr>
    867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@scotusdata.com">Support@scotusdata.com</a><br />
</address>