@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>THE SCOTUS CASES:  WHEN, WHERE, WHY</h1>
    <p class="lead">This is a website dedicated to the databasing of United States Supreme Court Cases, the When, Where, and Why.</p>
    <p>@Html.ActionLink("Read More", "About")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>THE CASES</h2>
        <p>
            As new cases become available we encourage registered users to add them to our database. 
        </p>
        <p>@Html.ActionLink("Cases", "Index", "Case", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>THE VOTES</h2>
        <p>Find SCOTUS case votes, who made them, and their affiliations.</p>
        <p>@Html.ActionLink("Votes", "Index", "CaseVote", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>THE COURTS</h2>
        <p>Starting from the first Supreme Court look up each Court and its members.</p>
        <p>@Html.ActionLink("Courts", "Index", "CourtMembers", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>